<link type="text/css" rel="stylesheet" href="__PUBLIC__/carousel/css/carousel.css">
<style type="text/css">
.block {
    text-align: center;
}

.block img {
    width: 100%;
    height: auto;
}

.photos {
    color: #000;
}

.portrait {
    display: inline!important;
    width: 14.285714286%;
    height: 33.333333333%;
    margin-left: -15px;
    border: 0;
}

.case_detail {
    color: #000;
    font-size: 13px;
    line-height: 1.5;
}
.case_detail img{
    width: 50%;
    height:auto;
    text-align:center;
}
</style>
<h1 class="sub_title">
    Successful Case
</h1>
<div class=".container-fluid">
    <div class="row case_detail">
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <!-- 宰学员 -->
            <img src="__PUBLIC__/img/case/01.png" />
            <p>毕业于南京邮电大学自动化专业</p>
            <p>在香港获得CCIE ISP方向认证</p>
            <p>参与中国联通浙江IP城城网设备扩容工程</p>
            <p>参与包头IIP城城网一阶段设计</p>
            <p>参与安徽国家电网跨城MPLS-VPN网络改造割接项目</p>
            <h3><b>就职公司</b></h3>
            <p>微软（中国）南京分公司</p>
            <h3><b>年薪</b></h3>
            <h1>200000</h1>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block ">
            <!-- 吴学员 -->
            <img src="__PUBLIC__/img/case/02.png" />
            <p>毕业于南京理工大学紫金学院计算机自动化专业</p>
            <p>在香港获得CCIE ISP方向认证</p>
            <p>参与中国南方电网前兆网络改造项目</p>
            <p>参与江苏广电网络割接项目</p>
            <p>参与盐城东风悦达起亚 企业网络的规划与部署工作</p>
            <h3><b>就职公司</b></h3>
            <p>中软国际</p>
            <h3><b>年薪</b></h3>
            <h1>140000</h1>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block">
            <!-- 孙学员 -->
            <img src="__PUBLIC__/img/case/03.png" />
            <p>毕业于南京航空航天大学计算机科学与技术专业</p>
            <p>在北京获得CCIE R&S方向认证</p>
            <p>参与阿里巴巴上海数据中心的割接项目</p>
            <p>参与上海巨人网络核心部署工作</p>
            <p>参与上海民生银行电商事业部网络设备集成项目</p>
            <h3><b>就职公司</b></h3>
            <p>锐捷网络有限公司</p>
            <h3><b>年薪</b></h3>
            <h1>120000</h1>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 block ">
            <!-- 杨学员 -->
            <img src="__PUBLIC__/img/case/04.png " />
            <p>毕业于南京邮电大学信息安全专业</p>
            <p>2014年于香港考取CCIE ISP方向认证</p>
            <p>参与中国电信4G IPRAN项目的部署与测试</p>
            <p>负责上海思博教育网络实验室的搭建</p>
            <p>参与上海自由贸易区的网络升级项目</p>
            <h3><b>就职公司</b></h3>
            <p>爱立信（中国）有限公司</p>
            <h3><b>年薪</b></h3>
            <h1>150000</h1>
        </div>
    </div>
    <div class="photos ">
        <h3 class="sub_title">More</h3>
        <div class="caroursel poster-main " data-setting='{
            "width ":1000,
            "height ":270,
            "posterWidth ":640,
            "posterHeight ":270,
            "scale ":0.7,
            "dealy ":"0",
            "algin ":"middle "
        }' style="margin:0 auto; ">
            <ul class="poster-list ">
                <assign name="casemore_prefix" value="__PUBLIC__/img/case/casemore" />
                <li class="poster-item ">
                    <img class="portrait " src="{$casemore_prefix}/001.png ">
                    <img class="portrait " src="{$casemore_prefix}/002.png ">
                    <img class="portrait " src="{$casemore_prefix}/003.png ">
                    <img class="portrait " src="{$casemore_prefix}/004.png ">
                    <img class="portrait " src="{$casemore_prefix}/005.png ">
                    <img class="portrait " src="{$casemore_prefix}/006.png ">
                    <img class="portrait " src="{$casemore_prefix}/007.png ">
                    <img class="portrait " src="{$casemore_prefix}/008.png ">
                    <img class="portrait " src="{$casemore_prefix}/009.png ">
                    <img class="portrait " src="{$casemore_prefix}/010.png ">
                    <img class="portrait " src="{$casemore_prefix}/011.png ">
                    <img class="portrait " src="{$casemore_prefix}/012.png ">
                    <img class="portrait " src="{$casemore_prefix}/013.png ">
                    <img class="portrait " src="{$casemore_prefix}/014.png ">
                    <img class="portrait " src="{$casemore_prefix}/015.png ">
                    <img class="portrait " src="{$casemore_prefix}/016.png ">
                    <img class="portrait " src="{$casemore_prefix}/017.png ">
                    <img class="portrait " src="{$casemore_prefix}/018.png ">
                    <img class="portrait " src="{$casemore_prefix}/019.png ">
                    <img class="portrait " src="{$casemore_prefix}/020.png ">
                    <img class="portrait " src="{$casemore_prefix}/021.png ">
                </li>
                <li class="poster-item ">
                    <img class="portrait " src="{$casemore_prefix}/022.png ">
                    <img class="portrait " src="{$casemore_prefix}/023.png ">
                    <img class="portrait " src="{$casemore_prefix}/024.png ">
                    <img class="portrait " src="{$casemore_prefix}/025.png ">
                    <img class="portrait " src="{$casemore_prefix}/026.png ">
                    <img class="portrait " src="{$casemore_prefix}/027.png ">
                    <img class="portrait " src="{$casemore_prefix}/028.png ">
                    <img class="portrait " src="{$casemore_prefix}/029.png ">
                    <img class="portrait " src="{$casemore_prefix}/030.png ">
                    <img class="portrait " src="{$casemore_prefix}/031.png ">
                    <img class="portrait " src="{$casemore_prefix}/032.png ">
                    <img class="portrait " src="{$casemore_prefix}/033.png ">
                    <img class="portrait " src="{$casemore_prefix}/034.png ">
                    <img class="portrait " src="{$casemore_prefix}/035.png ">
                    <img class="portrait " src="{$casemore_prefix}/036.png ">
                    <img class="portrait " src="{$casemore_prefix}/037.png ">
                    <img class="portrait " src="{$casemore_prefix}/038.png ">
                    <img class="portrait " src="{$casemore_prefix}/039.png ">
                    <img class="portrait " src="{$casemore_prefix}/040.png ">
                    <img class="portrait " src="{$casemore_prefix}/001.png ">
                    <img class="portrait " src="{$casemore_prefix}/002.png ">
                </li>
                <li class="poster-item ">
                    <img class="portrait " src="{$casemore_prefix}/003.png ">
                    <img class="portrait " src="{$casemore_prefix}/004.png ">
                    <img class="portrait " src="{$casemore_prefix}/005.png ">
                    <img class="portrait " src="{$casemore_prefix}/006.png ">
                    <img class="portrait " src="{$casemore_prefix}/007.png ">
                    <img class="portrait " src="{$casemore_prefix}/008.png ">
                    <img class="portrait " src="{$casemore_prefix}/009.png ">
                    <img class="portrait " src="{$casemore_prefix}/010.png ">
                    <img class="portrait " src="{$casemore_prefix}/011.png ">
                    <img class="portrait " src="{$casemore_prefix}/012.png ">
                    <img class="portrait " src="{$casemore_prefix}/013.png ">
                    <img class="portrait " src="{$casemore_prefix}/014.png ">
                    <img class="portrait " src="{$casemore_prefix}/015.png ">
                    <img class="portrait " src="{$casemore_prefix}/016.png ">
                    <img class="portrait " src="{$casemore_prefix}/017.png ">
                    <img class="portrait " src="{$casemore_prefix}/018.png ">
                    <img class="portrait " src="{$casemore_prefix}/019.png ">
                    <img class="portrait " src="{$casemore_prefix}/020.png ">
                    <img class="portrait " src="{$casemore_prefix}/021.png ">
                    <img class="portrait " src="{$casemore_prefix}/022.png ">
                    <img class="portrait " src="{$casemore_prefix}/023.png ">
                </li>
            </ul>
            <div class="poster-btn poster-prev-btn"></div>
            <div class="poster-btn poster-next-btn"></div>
        </div>
    </div>
    <script src="__PUBLIC__/carousel/js/jquery.carousel.js "></script>
    <script>
    Caroursel.init($('.caroursel'))
    </script>
</div>
