<!-- <img src="__PUBLIC__/img/55.jpg" style="width:100%;height:auto;"> -->
<style>
.cooperation {
    width: auto;
    height: 200px;
    margin: -50px auto 0;
}
@media screen and (max-width: 1200px) {
    .cooperation {
        width: auto;
        height: 150px;
        margin: -50px auto 0;
    }
}

@media screen and (max-width: 992px) {
    .cooperation {
        width: auto;
        height: 200px;
        margin: -50px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .cooperation {
        width: auto;
        height: 300px;
        margin: -50px auto 0;
    }
}

@media screen and (max-width: 480px) {
    .cooperation_title{
        font-size:30px;
    }
    .cooperation {
        width: auto;
        height: 150px;
        margin: -50px auto 0;
    }
}
</style>
<assign name="cooperation_prefix" value="__PUBLIC__/img/cooperation" />
<h1 class="sub_title cooperation_title">
    合作企业 | 人才输出
</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/01.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/02.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/03.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/04.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/05.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/06.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/07.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/08.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/09.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/10.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/11.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/12.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/13.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/14.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/15.png"></div>
        <div class="col-md-3 col-sm-6 col-xs-12"><img class="cooperation" src="{$cooperation_prefix}/16.png"></div>
    </div>
</div>
